/* FONT SPECS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


/* BODY SPECS */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgb(247, 77, 247) 0%, rgba(131, 58, 180, 1) 100%);
    margin: 0;
}


/* HEADER CONTENT */

header {
    display: flex;
    flex-flow: column;
    align-items: center;
}

header>h1 {
    color: white;
    margin: 0;
}

header>h4 {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
}

header>h4>a {
    color: pink;
    text-decoration: none;
    font-size: 12px;
}


/* MAIN CONTENT */

main {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bingo,
.celula,
button {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.bingo,
button {
    background-color: blueviolet;
    color: white;
}

.bingo {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 4px;
}

.celula {
    background-color: seashell;
    color: blueviolet;
    font-weight: 700;
    margin: 2px;
    width: 160px;
    transition-duration: 1s;
}

.celula:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#cHeader {
    font-weight: 700;
}

.celula>img {
    width: 70px;
    transition-duration: 0.3s;
}

.celula>img:hover {
    width: 90px;
    transition-duration: 0.3s;
}

.celulaTxt {
    margin: 8px 0 0 0;
    font-weight: 400;
}

button {
    border-color: transparent;
    margin-top: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#cartela {
    grid-column-start: 2;
}

#sorteador {
    grid-column-start: 3;
    background-color: gray;
}

#cartela:hover,
#sorteador:hover {
    background-color: hotpink;
    transition-duration: 0.4s;
}


/* FOOTER CONTENT */

footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer>a {
    text-decoration: none;
    color: pink;
    font-size: 8px;
}


/* MEDIA QUERY  - WIDTH <= 800PX */
@media (max-width: 800px) {

    header > h1 {
        font-size: 1.5rem;
    }

    #cHeader {
        grid-row: span;
        box-sizing: border-box;
    }

    .celula {
        width: 100px;
        height: 100px;
        margin: 2px;
        transition-duration: 1s;
        box-sizing: border-box;
    }

    .celula img {
        width: 50px;
    }

    .celula img:hover {
        width: 55px;
    }

    .celulaTxt {
        margin: 0 0 0 4px;
        font-size: 12px;
        overflow: hidden;
    }

    button {
        box-sizing: border-box;
    }

    #cartela, #sorteador {
        grid-column: 1 / span 3;
        box-sizing: border-box;
    }

    footer > a {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}


/* MEDIA QUERY - HEIGHT <= 655PX */

@media (max-height: 655px) {
    
    html, body {
        height: fit-content;
    }

    body {
        margin: 20px 0;
    }

}